*{
    box-sizing: border-box;
}

.navbar-history{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.heading-history{
    margin-left: 90px;
    color: rgb(1, 255, 35);
}
  .pageContainer-history{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main-history{
    background-color: rgb(22, 21, 21);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .historytasks{
    color: white;
    text-align: center;
  }

  .footer-history{
    height: 40px;
    background-color: rgb(63, 63, 62);
  }

  .clear-container{
    text-align: right;
  }

  .heading-container{
    text-align: center;
    flex-grow: 1;
    margin: 0;
  }

  .header-history{

    background-color: rgb(52, 52, 51);
  }

  .historyclearbutton{
    margin-right: 50px;
    font-size: 16px;
    color: aqua;
    background-color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .time{
    margin-left: 25px;
    color: aqua;
  }

